.carouselWrapper {
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 2vw;
}

.carouselList {
    list-style: none;
    display: flex;
    padding: 1vw;
    color: #484848;
    margin: 1vw;
    font-size: 4vmin;
}

.carouselListItem {
    border-radius: 2vw;
    padding: 1vw;
    background:  #484848;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    min-width: 35vmin;
}

.carouselSelectedListItem {
    box-shadow: 0 0.5vmin 0.75vmin 0 rgba(0, 0, 0, 0.9), 0 1vmin 2vmin 0 rgba(0, 0, 0, 0.5);
}

.carouselHeader {
    border-style: none none solid none;
    border-color: #484848;
    font-size: 7vmin;
    font-weight: bold;
    color: #484848;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

