<div class="outerLayout">
    <panchanga-day-summary [day]='selectedDay'></panchanga-day-summary>
    <panchanga-carousel (selected)="OnSelection($event)">
        <panchanga-carousel-item *ngFor="let day of days" [selectionValue]="day">
            <span style="font-weight: bold;">{{day.date | date: 'd'}}{{' '}}{{day.date | date: 'MMM'}}{{' '}}{{day.date | date: 'yyyy'}}</span><br />
            <span *ngFor="let thithi of day.thithi">{{thithi | translator: 'Thithi' }}{{' '}}</span><span style="font-size: 2vmin;">{{'Thithi' | translator }}</span><br />
            <span>{{day.vaasara | translator: 'Vaasara' }}{{' '}}</span><span style="font-size: 2vmin;">{{'Vaasara' | translator }}</span>
        </panchanga-carousel-item>
    </panchanga-carousel>
</div>