  .outerLayout {
    width: 95vw;
    margin: 0 auto;
  }

  .listBanner {
    padding: 1vw;
    color: #484848; 
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    border-radius: 2vw;
    font-size: 3vmin;
    font-weight: bold;
  }

  .listItem {
    border-radius: 2vw;
    padding: 1vw;
    background:  #484848;
    color: white; 
    margin-left: 1vw;
    margin-right: 1vw;
    min-width: 35vmin;
  }

  .listHeader {
    border-style: none none solid none;
    border-color: #484848;
  }

  .list {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 2vw;
    padding-bottom: 2vmin;
  }