.mainBanner {
    padding: 2vw;
    color: white; 
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 2vw;
    background:  #484848;
    height: 50vmin;
    font-size: 3vmin;
  }

  .mainBannerBiggerFont {
    font-size: 7vmin;
    font-weight: bold;
  }

  .mainBannerFont {
    font-size: 5vmin;
    font-weight: bold;
  }

  .outerLayout {
    width: 100vmin;
    margin: 0 auto;
  }
  
  /*@media (orientation: portrait) {
    .mainBanner {
        height: 40vh;
    }
  }
  
  @media (orientation: landscape) {
    .mainBanner {
        height: 50vh;
    }
  }*/